<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link rel="icon" href="../../static/img/favicon-16x16.png" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/central.css') }}">
    <title>Dashboard</title>
</head>
<body>
    
    <!-- Divs para mensagens flash (escondidas) -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <nav id="sidebar">
        <ul>
            <li>
                <span class="logo">FanextyDev</span>
                <button onclick=toggleSidebar() id="toggle-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M440-240 200-480l240-240 56 56-183 184 183 184-56 56Zm264 0L464-480l240-240 56 56-183 184 183 184-56 56Z"/></svg>
                </button>
            </li>

            <li class="active">
                <a href="{{ url_for('dashboard') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M520-600v-240h320v240H520ZM120-440v-400h320v400H120Zm400 320v-400h320v400H520Zm-400 0v-240h320v240H120Zm80-400h160v-240H200v240Zm400 320h160v-240H600v240Zm0-480h160v-80H600v80ZM200-200h160v-80H200v80Zm160-320Zm240-160Zm0 240ZM360-280Z"/></svg>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <button onclick=toggleSubMenu(this) class="dropdown-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M560-320h80v-80h80v-80h-80v-80h-80v80h-80v80h80v80ZM160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h240l80 80h320q33 0 56.5 23.5T880-640v400q0 33-23.5 56.5T800-160H160Zm0-80h640v-400H447l-80-80H160v480Zm0 0v-480 480Z"/></svg>
                    <span>Ferramentas</span>
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/></svg>
                </button>
                <ul class="sub-menu">
                    <div>
                        <li><a href="{{ url_for('organizador') }}">Organizador Logins</a></li>
                        <li><a href="{{ url_for('quebra') }}">Quebra de linhas</a></li>
                        <li><a href="{{ url_for('inline') }}">Organizador DB</a></li>
                        <li><a href="{{ url_for('orgdb') }}">Separador de Dados</a></li>
                        <li><a href="{{ url_for('gerador') }}">Gerador de Email</a></li>
                    </div>
                </ul>
           </li>
            <li>
                <button onclick=toggleSubMenu(this) class="dropdown-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M222-200 80-342l56-56 85 85 170-170 56 57-225 226Zm0-320L80-662l56-56 85 85 170-170 56 57-225 226Zm298 240v-80h360v80H520Zm0-320v-80h360v80H520Z"/></svg>
                    <span>Opções</span>
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/></svg>
                </button>
                <ul class="sub-menu">
                    <div>
                        <li><a href="{{ url_for('configbot') }}">Config Bot</a></li>
                         <li><a href="#">Document</a></li>
                         <li><a href="#">Project</a></li>
                    </div>
                </ul>
           </li>
            <li>
                <a href="{{ url_for('donate') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M640-440 474-602q-31-30-52.5-66.5T400-748q0-55 38.5-93.5T532-880q32 0 60 13.5t48 36.5q20-23 48-36.5t60-13.5q55 0 93.5 38.5T880-748q0 43-21 79.5T807-602L640-440Zm0-112 109-107q19-19 35-40.5t16-48.5q0-22-15-37t-37-15q-14 0-26.5 5.5T700-778l-60 72-60-72q-9-11-21.5-16.5T532-800q-22 0-37 15t-15 37q0 27 16 48.5t35 40.5l109 107ZM280-220l278 76 238-74q-5-9-14.5-15.5T760-240H558q-27 0-43-2t-33-8l-93-31 22-78 81 27q17 5 40 8t68 4q0-11-6.5-21T578-354l-234-86h-64v220ZM40-80v-440h304q7 0 14 1.5t13 3.5l235 87q33 12 53.5 42t20.5 66h80q50 0 85 33t35 87v40L560-60l-280-78v58H40Zm80-80h80v-280h-80v280Zm520-546Z"/></svg>
                    <span>Donate</span>
                </a>
            </li>

            <li>
                <a href="{{ url_for('register') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z"/></svg>
                    <span>Registrar</span>
                </a>
            </li>

            <li class="logout">
                <a href="{{ url_for('logout') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z"/></svg>
                    <span>Logout</span>
                </a>
            </li>
        </ul>
    </nav>

    <main>
        <div class="container">
            <h2>Bem vindo, {{ session['user'] }}!</h2>
            <p>⚠️ <span class="vencimento"></span> ⚠️</p>
        </div>
        <div class="statistics">
            <h2>📘 Estatísticas:</h2>
        </div>
        <div class="container">    
            <div class="stats-section">
                <h3>Usuários</h3>
                <ul>
                    <li>📊 Usuários: <strong class="total_users"></strong></li>
                </ul>
            </div>
        </div>
        <div class="container">   
            <div class="stats-section">
                <h3>Receita</h3>
                <ul>
                    <li>📈 Receita total: <strong class="receita_total"></strong></li>
                    <li>💠 Receita de hoje: <strong class="receita_hoje"></strong></li>
                </ul>
            </div>
        </div>
        <div class="container">    
            <div class="stats-section">
                <h3>Acessos Vendidos</h3>
                <ul>
                    <li>📺 Acessos vendidos: <strong class="acessos_vendidos"></strong></li></li>
                    <li>📲 Acessos vendidos hoje: <strong class="acessos_vendidos_hoje"></strong></li>
                </ul>
            </div>
        </div>
    </main>
    

<script src="{{ url_for('static', filename='js/app.js') }}"></script>
<script>
    async function fetchData() {
    try {
        const response = await fetch('https://cors-anywhere.herokuapp.com/https://testebot.squareweb.app/api/info');
        if (!response.ok) {
            throw new Error(`HTTP error! status: ${response.status}`);
        }
        const data = await response.json();

        // Atualiza os elementos do DOM com os dados obtidos
        document.querySelector('.vencimento').innerText = data.vencimento;
        document.querySelector('.total_users').innerText = data.total_users;
        document.querySelector('.receita_total').innerText = `R$ ${data.receita_total.toFixed(2)}`;
        document.querySelector('.receita_hoje').innerText = `R$ ${data.receita_hoje.toFixed(2)}`;
        document.querySelector('.acessos_vendidos').innerText = data.acessos_vendidos;
        document.querySelector('.acessos_vendidos_hoje').innerText = data.acessos_vendidos_hoje;

    } catch (error) {
        console.error('Erro ao obter dados:', error);
    }
}

// Chama a função para executar a requisição
fetchData();

</script>


</body>
</html>