<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Novo Usuário</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">

        {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        <ul>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}


        <h1>Registrar Novo Usuário</h1>

        <!-- Formulário de Registro -->
        <form id="register-form" action="{{ url_for('register') }}" method="POST">
            <label for="username">Novo Usuário</label>
            <input type="text" id="username" name="username" required>
            
            <label for="password">Nova Senha</label>
            <input type="password" id="password" name="password" required>
            
            <button type="submit">Registrar</button>
        </form>
        <a href="{{ url_for('dashboard') }}">Voltar para o Painel</a>
    </div>
    
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>